@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.eot");
    src: url("../fonts/Minecraft.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Minecraft.woff") format("woff"),
    url("../fonts/Minecraft.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #171717;
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

img{
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}

a{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0;
}

button{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1160px;
    margin: 0 auto;
}

.owl-nav, .owl-dots{
    display: none;
}

.owl-stage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn{
    cursor: pointer;
    background: url(../img/btn.svg) no-repeat center center/contain;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 220px;
    height: 40px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.btn:hover{
    background: url('../img/btn-hover.svg') no-repeat center center/contain;
}

.online-block {
    margin-left: 25px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.online-block__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
}

.online-block__title::before{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-right: 5px;
}







/* Header */
.header {
    background: url('../img/header-bg.png') no-repeat top center/cover;
    padding-top: 50px;
    position: relative;
}

.header .container{
    position: relative;
    z-index: 1;
}

.header::before{
    content: "";
    background: url('../img/header-polygon.png') no-repeat top right/contain;
    display: block;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}

.header::after{
    content: "";
    background: url('../img/header-bottom-line.svg') no-repeat bottom center/contain;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    top: 0;
    z-index: 0;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;  
}

.logo__img {
    width: 62px;
}

.logo__name {
    font-size: 20px;
    margin-left: 12px;
}

.header-links {
    width: 50%;
    margin-right: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header-links__a {
    font-weight: 300;
    margin: 0 30px;
    font-size: 16px;
}

.header-links__a:first-of-type{
    margin-left: 0;
}

.header-links__a:last-of-type{
    margin-right: 0;
}

.header-links__a_active{
    font-weight: 500;
}

.header-content {
    padding: 300px 0 400px;
    width: 600px;
    color: #fff;
    /*margin-left: 60px;*/
}

.header-content__title {
    font-size: 45px;
    font-weight: 500;
}

.header-content__description {
    font-size: 20px;
    margin: 13px 0 16px;
    width: 400px;
    line-height: 1.25em;
}

.header-content__description b{
    font-weight: 500;
}

.header-content__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* Servers */
.information {
    background: url(../img/information.png) no-repeat top center/cover;
    margin-top: -10px;
    position: relative;
}

.info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 150px 0;
}

.servers {
    width: 45%;
}

.h2 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
    padding-right: 50px;
}

.information .online-block {
    color: #fff;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-right: 50px;
}

.servers-list {
    margin-top: 40px;
    padding-right: 50px;
    position: relative;
}

.servers-list::after {
    content: "";
    width: 1px;
    height: 100%;
    background: rgba(255,255,255,0.2);
    position: absolute;
    right: 0;
    top: 0;
}

.server {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.server__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 50px 25px 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.server__title:hover{
    opacity: 1;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.server_soon .server__title:hover{
    opacity: 0.75;
}

.server-name, .server-name__title, .server-content-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.server-name, .server-online__amount {
    font-size: 26px;
    font-weight: 500;
}

.server-name__number {
    margin-right: 20px;
}

.server-logo {
    width: 50px;
    -o-object-fit: contain;
       object-fit: contain;
}

.server-title {
    margin-left: 10px;
}

.server-online__title {
    font-size: 10px;
    font-weight: 300;
}

.server__content {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px 20px;
    display: none;
}

.server-content__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.server-content-name__logo {
    width: 40px;
    -o-object-fit: contain;
       object-fit: contain;
}

.server-content-name__name {
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

.server-content-ip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
    font-size: 15px;
}

.server-content-ip__ip {
    margin: 0 10px 0 20px;
}

.server-content-copy {
    background: transparent;
    padding: 0;
    width: 10px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.server-content-copy:hover{
    opacity: 1;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.server-content__body {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.server-content-info {
    font-family: 'Minecraft';
    color: #fff;
    font-size: 12px;
}

.server-content-info__p:not(:last-of-type) {
    margin-bottom: 15px;
}

.server-content__body .btn{
    width: 200px;
    height: 35px;
}

.server:not(:last-of-type) {
    margin-bottom: 25px;
}

.server__title::before{
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
}

.server__title::after{
    right: 0;
    top: 0;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
}

.server__title::before, .server__title::after{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    -webkit-filter: blur(150px);
            filter: blur(150px);
}

.server_soon > .server__title::before, .server_soon > .server__title::after{
    display: none;
}

.server_soon{
    opacity: 0.5;
}

.server_one > .server__title{
    background: url('../img/servers/server-1.png') no-repeat center center/cover;
}

.server_one > .server__title::before, .server_one > .server__title::after{
    background: #FB3D3D;
}

.server_two > .server__title{
    background: url('../img/servers/server-2.png') no-repeat center center/cover;
}

.server_three > .server__title{
    background: url('../img/servers/server-3.png') no-repeat center center/cover;
}

.server_four > .server__title{
    background: url('../img/servers/server-4.png') no-repeat center center/cover;
}

.project-info {
    width: 55%;
    color: #fff;
    padding-left: 50px;
}

.project-logo {
    width: 100px;
    margin: 0 auto;
}

.project-description {
    margin: 50px 0 75px;
}

.project-description__p {
    font-size: 18px;
}

.project-description__p:not(:last-of-type) {
    margin-bottom: 20px;
}

.project-features-title {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

.project-features-list {
    margin-top: 40px;
    position: relative;
}

.project-carousel-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: transparent;
    padding: 0;
    width: 15px;
    opacity: 0.5;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer;
}

.project-carousel-arrow:hover{
    opacity: 1;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.project-carousel-arrow__prev {
    left: -30px;
}

.project-carousel {
    overflow: hidden;
}

.project-carousel-slide__img {
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
}

.project-carousel-slide__img img{
    -o-object-fit: cover;
       object-fit: cover;
}

.project-carousel-slide__title {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    font-family: 'Minecraft';
}

.project-carousel-arrow__next {
    right: -30px;
}

.mc-font{
    font-family: 'Minecraft';
}

/* Top players */
.top {
    background: url('../img/top-bg.png') no-repeat top center/cover;
    position: relative;
    margin-top: -10px;
    color: #fff;
    padding: 100px 0;
}

.h2-title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}

.top-players {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.top-table {
    width: calc(100% - 240px);
}

.top-table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #fff;
}

.top-table-row:first-of-type{
    padding: 0 0 15px;
}

.top-table-row:last-of-type{
    border-color: rgba(255,255,255,0.3);
}

.top-table-row__pos {
    width: 8%;
}

.top-table-row__name {
    width: 38%;
}

.top-table-row__score {
    width: 22%;
}

.top-table-row__server {
    width: 32%;
}

.top-buttons {
    width: 220px;
}

.top-buttons .btn:not(:last-of-type) {
    margin-bottom: 15px;
}

.top-countdown {
    margin-top: 30px;
}

.top-countdown__title {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.top-countdown__timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.timer-big {
    font-size: 35px;
    font-weight: 500;
    margin: 0 5px;
}

.timer-small {
    font-size: 20px;
}

/* Donate */
.donate {
    background: url(../img/donate-bg.png) no-repeat top center/cover;
    position: relative;
    margin-top: -15px;
    color: #fff;
    padding: 100px 0;
}

.donate .container {
    width: 1350px;
}

.donate-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.donate-left, .donate-right {
    width: calc(calc(100% - 40px) / 2);
}

.donate-server .server {
    max-width: 475px;
}

.donate-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
}

.donate-title::before{
    content: "";
    height: 38px;
    width: 6px;
    background: #696EFF;
    margin-right: 15px;
    -webkit-box-shadow: 0px 0px 32.590145111083984px 0px rgba(105, 110, 255, 1);
            box-shadow: 0px 0px 32.590145111083984px 0px rgba(105, 110, 255, 1);
}

.donate-data {
    margin-top: 50px;
}

.donate-form {
    background: rgba(16, 15, 15, 1);
    border-radius: 15px;
    padding: 0 20px 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.donate-form__input {
    width: 100%;
    padding: 50px 0 0;
}

.donate-input:not(:last-of-type) {
    margin-bottom: 25px;
}

.donate-input__title {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.donate-input__field {
    width: 100%;
    background: transparent;
    padding: 13px 20px;
    border: 1px solid #fff;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    opacity: 0.5;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    outline: none;
    cursor: pointer;
}

.donate-input__field::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.donate-input__field::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.donate-input__field:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.donate-input__field::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.donate-input__field::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.donate-input__field:focus, .donate-input__field:hover{
    opacity: 1;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.donate-amount {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.donate-pay {
    width: 200px;
    height: 36px;
    background: #696EFF;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.donate-pay:hover{
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    background: #4C51ED;
}

.donate-form__goods {
    width: 270px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 32px 0 0 0;
    margin-top: 18px;
}

.donate-item {
    margin-bottom: 20px;
    width: calc(calc(100% - 40px) / 3);
    margin-right: 20px;
    background: #100F0F;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.donate-item:nth-child(3n) {
    margin-right: 0;
}

.donate-item__img {
    height: 75px;
}

.donate-item__img img{
    -o-object-fit: contain;
       object-fit: contain;
}

.donate-item__title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}

.donate-item__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.donate-item-btn {
    background: #696EFF;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 18px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.donate-item-price {
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
}

.donate-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100% - 63px);
    padding-right: 30px;
    max-height: 691px;
}

.donate-items::-webkit-scrollbar, .donate-form-goods-items::-webkit-scrollbar {
    width: 8px;
}

.donate-items::-webkit-scrollbar-track, .donate-form-goods-items::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid #9A6C6C;
    border-radius: 15px;
}

.donate-items::-webkit-scrollbar-thumb, .donate-form-goods-items::-webkit-scrollbar-thumb {
      background: #696EFF;
      border-radius: 15px;
}

.donate-items::-webkit-scrollbar-thumb:hover, .donate-form-goods-items::-webkit-scrollbar-thumb:hover {
    background: #4C51ED;
}

.donate-item__description {
    margin-top: 20px;
    display: none;
    position: absolute;
    z-index: 2;
    background: #100F0F;
    left: 0;
    right: 0;
    top: calc(100% - 35px);
    padding: 20px;
    border-radius: 0 0 15px 15px;
}

.donate-item-description__title {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}

.donate-item-description__content {
    font-size: 12px;
}

.donate-form__goods .donate-item{
    width: 100%;
    margin-right: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}

.donate-form-goods-title {
    display: block;
    text-align: center;
    padding: 0 8px 0 32px;
    font-size: 18px;
    margin-bottom: 20px;
}

.donate-form-goods-items {
    height: 355px;
    overflow-y: auto;
    padding: 0 0 0 32px;
}

.donate-form-goods-items .donate-item-btn{
    background: #DB3434;
}

.donate-form-goods-items .donate-item-btn:hover{
    background: #FF0000;
}

.donate-item-btn:hover{
    background: #4C51ED;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

/* Footer */
.footer {
    background: url('../img/footer-bg.svg') no-repeat top center/cover;
    margin-top: -15px;
    position: relative;
    color: #383838;
    padding: 50px 0;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    font-weight: 300;
}

.footer-content__title {
    width: 20%;
    margin-left: 40%;
    text-align: center;
}

.footer-content__links {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.footer-link {
    display: block;
    color: #383838;
}

.footer-link:not(:last-of-type) {
    margin-bottom: 5px;
}

@media screen and (max-width: 1350px){
    .donate .container{
        width: 100%;
        padding: 0 25px;
    }
}

@media screen and (max-width: 1199px){
    .container{
        width: 960px;
    }

    .header-links {
        width: 75%;
        margin-right: 0;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .donate-item__img {
        height: 50px;
    }

    .donate-form {
        padding: 0 20px 30px 30px;
    }

    .donate-form__input {
        padding: 30px 0 0;
    }

    .donate-form__goods {
        width: 220px;
        padding: 30px 0 0 0;
        margin-top: 0;
    }

    .donate-form-goods-items {
        height: 330px;
        padding: 0 0 0 30px;
    }

    .donate-items {
        max-height: 625px;
    }
}

@media screen and (max-width: 991px){
    .donate .container{
        padding: 0;
    }

    .container, .donate .container{
        width: 720px;
    }

    .nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .header-links {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 30px 0 0 0;
    }

    .header {
        padding-top: 50px;
    }

    .header-content {
        padding: 150px 0 250px;
        width: 600px;
        color: #fff;
    }

    .info-block {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 75px 0;
    }

    .servers, .project-info {
        width: 100%;
        max-width: 600px;
        padding: 0;
    }

    .servers-list{
        padding: 0;
    }

    .servers-list::after{
        display: none;
    }

    .information .online-block, .h2 {
        padding-right: 0;
    }

    .project-info{
        margin-top: 50px;
    }

    .top-table-row {
        font-size: 14px;
    }

    .top-table-row__server {
        width: 28%;
    }

    .top-table-row__pos {
        width: 12%;
    }

    .top, .donate{
        padding: 75px 0;
    }

    .donate-block {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .donate-left, .donate-right {
        width: 100%;
    }

    .donate-right {
        margin-top: 50px;
    }

}

@media screen and (max-width: 767px){
    .container, .donate .container{
        width: 540px;
    }

    .header-content {
        padding: 100px 0 200px;
        width: 100%;
    }

    .top-players {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .top-buttons {
        width: 100%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 50px;
    }

    .top-table {
        width: 100%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .top-buttons .btn {
        margin: 0 auto;
    }

    .donate-form {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .donate-form__goods {
        width: 100%;
    }

    .donate-server .server {
        max-width: 100%;
    }

    .footer-content__title {
        width: 100%;
        margin: 0 0 20px;
    }

    .footer-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .footer-content__links {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-link {
        text-align: center;
    }

    .donate-item {
        margin-bottom: 20px;
        width: calc(calc(100% - 20px) / 2);
    }

    .donate-item:nth-child(even) {
        margin-right: 0;
    }

    .donate-form-goods-items .donate-item:nth-child(2n), .donate-form-goods-items .donate-item:nth-child(6), .donate-form-goods-items .donate-item:nth-child(3n) {
        margin: 0 0 20px 0;
    }

    .project-carousel-arrow{
        display: none;
    }
}

@media screen and (max-width: 575px){
    .container, .donate .container{
        width: 100%;
        padding: 0 10px;
    }

    .logo {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .logo__img {
        width: 50px;
    }

    .logo__name {
        font-size: 18px;
        margin-left: 10px;
    }

    .header {
        padding-top: 40px;
    }

    .header-links {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 15px;
    }

    .header-links__a {
        text-align: center;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
    }

    .header-content {
        padding: 50px 0 100px;
        text-align: center;
    }

    .header-content__title {
        font-size: 30px;
    }

    .header-content__description {
        font-size: 16px;
        margin: 10px 0 15px;
        width: 100%;
    }

    .header-content__actions {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .online-block {
        font-size: 14px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 10px auto 0;
    }

    .header-content__actions .btn{
        width: 100%;
        height: 33px;
    }

    .header::before{
        background-size: cover;
    }

    .server__title{
        padding: 15px 30px 15px 10px;
    }

    .server-name, .server-online__amount {
        font-size: 18px;
        font-weight: 500;
    }

    .server-content__title {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .server-content-ip{
        margin: 0;
    }

    .server-content__body {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .server-content-info {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .server-content__body .btn{
        margin: 0 auto;
    }

    .server-content-name__logo {
        width: 30px;
    }

    .server-content-name__name {
        font-size: 16px;
    }

    .project-logo {
        width: 75px;
    }

    .project-description {
        margin: 25px 0 50px;
    }

    .project-description__p {
        font-size: 16px;
        text-align: center;
    }

    .top, .donate {
        padding: 50px 0;
    }

    .servers-list {
        overflow: hidden;
    }

    .server__title::before, .server__title::after{
        display: none;
    }

    .donate-form-goods-items {
        height: 330px;
        padding: 0;
    }

    .donate-form-goods-title {
        padding: 0;
    }

    .donate-form__goods{
        padding: 50px 0 0 0;
    }

    .donate-item {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .project-carousel-slide__img {
        height: 150px;
    }

    .project-carousel-slide__title {
        font-size: 14px;
    }

}